@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap');

html,
body {
  margin: 0 auto;
  font-family: 'IBM Plex Mono', monospace;
}

body {
  padding-bottom: 25px;
  background-color: #212529;
  color: white;
}

#wwa, #chatbot {

    height: 80%;
    display: flex;
    justify-content: center !important;
    align-items: center;
    flex-wrap: wrap;
    padding-top: 25px;
    padding-bottom: 25px;
}

.card {
    margin-bottom: 25px;
    box-shadow: 5px 5px 2px 1px #eaeae8;
    padding-bottom: 25px;
    margin: 25px;
}

.jumbotron-fluid {
    background-color: #212529;
}

#me {
    padding-top: 25px;
}

#me2 {
    padding-top: 75px;
}

#about {
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    line-height: 150%;
}

#main-title {
    padding-bottom: 15px;
}

#wwa2, #chatbot {

    height: 40%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px !important;
    padding-top: 35px;
}

#wwa3, #chatbot {

    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    padding-bottom: 25px !important;
    padding-top: 55px;
}

#test-deploy {
    color: white;
}

@media (max-width: 767px)  {
    body {
        margin-bottom: 30px !important;
    }
};
